<h4 *ngIf="id">Edit Employee</h4>
<h4 *ngIf="!id">Add Employee</h4>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Employee name</mat-label>
      <input matInput formControlName="name" placeholder="Employee name">
    </mat-form-field>
    <div *ngIf="myForm.get('name').invalid && (myForm.get('name').dirty || myForm.get('name').touched)">
      Please provide a name.
    </div>
  </div>

  <div *ngIf="departments">
    <mat-form-field appearance="fill">
      <mat-label>Select a Department</mat-label>
      <mat-select formControlName="dptName">
        <mat-option *ngFor="let dpt of departments" value="{{dpt.id}}">
          {{dpt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="button" mat-mini-fab color="primary" (click)="add()">
      <mat-icon>control_point</mat-icon>
    </button>
  </div>


  <div *ngIf="emp.departments.length>0">
    Department List
    <mat-chip-list>
      <mat-chip *ngFor="let dpt of emp.departments" (removed)="remove(dpt.id)">
        {{dpt.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <br />
  <button type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid">Send</button>
  <button type="button" mat-raised-button color="primary"  *ngIf="dialogRef" (click)="exit()">Close</button>
</form>
